<html>
  <head>
    <title><%= @titulo %> | Loja </title>
  </head>
  <body>
    <h1><%= @titulo %> | Loja </h1>

    <% flash.each do |key,value| %>
      <%= content_tag :div, value, :class => "#{key}_flash"%>
    <% end %>

    <ul>
      <li><%= link_to 'Produtos', produtos_path %></li>
      <% unless pedido_atual.blank? %>
        <li><%= link_to 'Veja o seu carrinho', itens_path %></li>
      <% end %>
    </ul>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
